recursive-include djangocms_text *.html *.txt *.mo *.js *.css *.svg *.png *.gif *.jpg *.woff *.woff2 *.ttf *.eot
recursive-include djangocms_text_ckeditor *.html *.txt *.js *.css *.svg *.png *.gif *.jpg *.woff *.woff2 *.ttf *.eot
include THIRD_PARTY_LICENSES.txt
