.app-djangocms_text.model-text.change-form {

    textarea.CMS_Editor, textarea#id_json {
        display: none;
    }

    textarea.CMS_Editor + div#id_body_editor.fixed {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        max-width: 100%;  /* for djangocms-admin-style */
        [role="menubar"] {
            border: none;
        }
        .ProseMirror {
            overflow-y: scroll;
            padding: 1rem 0.8rem 0.2rem 0.2rem;
            border-top: 2px solid var(--dca-gray-lighter);
            &:focus-visible {
                outline: none;
            }
        }
    }
}

p:not(.is-empty) > br.ProseMirror-trailingBreak {
    displaxy: none;
}

.cms-editor-inline-wrapper {
    &.textarea .tiptap {
        border: 1px solid var(--dca-gray-lighter);
        padding: 6px;
        min-height: 3rem;
        border-radius: 3px;
    }
    &.textarea.fixed .tiptap {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    position: relative;
    a {
        pointer-events: none;
    }
    & cms-plugin {
        pointer-events: auto;
        a {
            pointer-events: none;  /* for text-enabled link plugins */
        }
        &.ProseMirror-selectednode > * {
            outline: 2px solid #fad507;
            outline-offset: 2px;
        }
    }
    [role="menubar"] {
        bottom: calc(100% - 1px);
        &.show {
            visibility: visible;
        }
        [role="button"].show > .dropdown-content {
            visibility: visible;
        }
        padding: 6px 0.8rem;
        /* border-radius: 3px; */
        margin: 0  !important;
        font-size: 1rem;
        font-weight: normal;
        visibility: hidden;
        position: absolute;
        pointer-events: all;
        display: flex;
        flex-flow: row wrap;
        border: solid 1px var(--dca-gray-light);
        box-shadow: 0 1.5px 1.5px rgba(var(--dca-shadow),.4);
        color: var(--dca-black);
        background: var(--dca-white);
        opacity: 1;
        div.grouper {
            padding: 0;
            margin: 0;
            display: inline-flex;
            justify-content: center;
            break-inside: avoid;
        }
    }
    &.fixed [role="menubar"]  {
        display: block;
        top: 0;
        visibility: visible;
        position: static;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid var(--dca-gray-lighter);
        border-bottom: none;
        .dropdown-content {
            top: 100%;
            left: 0;
        }
    }
    button, [role="button"] {
        width: auto  !important;  /* for djangocms-admin-style */
        position: relative;
        li {
            color: var(--dca-gray-darker);
            font-weight: normal;
        }
        display: inline-flex;
        justify-content: center;
        cursor: pointer;
        border: none  !important;
        background: var(--dca-white);
        border-radius: 2px;
        text-align: center;
        vertical-align: middle;
        line-height: 1.2;
        padding: 6px 4px  !important;
        &:active, &.active {
            background: var(--dca-gray-lighter)  !important;
        }
        &:hover:not(:disabled),&.show {
            color: var(--dca-white) !important;
            background: var(--dca-primary)  !important;
        }
        &:disabled {
            color: var(--dca-gray-light);
            cursor: not-allowed;
            pointer-events: none;
        }
        &.dropdown {
            position: relative;
            font-size: 0.8rem;
            padding: 6px 8px  !important;
        }
        svg {
            zoom: 120%;
            display: inline;
            vertical-align: middle;
        }
    }
    .dropdown-content {
        color: var(--dca-black);
        border-radius: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        flex-flow: row;
        border: solid 1px var(--dca-gray-light);
        box-shadow: 0 1.5px 1.5px rgba(var(--dca-shadow),.4);
        background: var(--dca-white);
        padding: 6px 0.8rem;
        &.vertical {
            flex-flow: column;
            font-size: 1rem;
            padding: 0;
            button {
                text-align: left;
                justify-content: left;
                padding: 8px 1.2rem  !important;
                small {
                    margin: 0;
                }
            }
        }
    }
    span:empty {
        margin-left: 4px;
        margin-right: 4px;
        &.separator {
            border-left: dashed 1px var(--dca-gray);
        }
        &.space {
            border-left: dashed 1px var(--dca-white);
        }

    }
    .dropback, .toolbar-dropback {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        cursor: unset;  /* browser default */
    }
    :not(:has(.dropdown.show)) .toolbar-dropback {
        display: none;
    }
}
