.cms-editor-inline-wrapper {
    color: var(--dca-black, var(--body-fg, #000));
    background: var(--dca-gray, var(--body-bg, #fff));


    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        margin-bottom: 1em;
        border: none;
        padding: 0;
        line-height: 1.5;
    }
    h1 {
        font-size: 1.7rem;
        text-transform: none;
    }
    h2 {
        font-size: 1.42rem;
        text-transform: none;
    }
    h3 {
        font-size: 1.2rem;
        text-transform: none;
    }
    h4, p {
        font-size: 1rem;
        text-transform: none;
    }
    h5 {
        font-size: 0.83rem;
        text-transform: none;
    }
    h6 {
        font-size: 0.7rem;
        text-transform: none;
    }
    img.float-start {
        float: left;
    }
    img.float-end {
        float: right;
    }
    blockquote {
        margin-left: unset;
        margin-right: unset;
        padding-inline-start: 2em;
        border-inline-start: 4px solid var(--dca-gray-lighter, var(--border-color, #ddd));
    }
}
