.app-djangocms_text.model-text.change-form {

    textarea.CMS_Editor, textarea#id_json {
        display: none;
    }

    textarea.CMS_Editor + div#id_body_editor.fixed {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        max-width: 100%;  /* for djangocms-admin-style */
        .ProseMirror {
            overflow-y: scroll;
            padding: 0 0.5rem;
            &:focus-visible {
                outline: none;
            }
        }
    }
}

.cms-editor-inline-wrapper {
    &.textarea .tiptap {
        border: 1px solid var(--dca-gray-lighter, var(--hairline-color));
        padding: 6px;
        min-height: 3rem;
        border-radius: 3px;
    }
    &.textarea.fixed .tiptap {
        padding-top: 0;
        resize: vertical;
        overflow-y: auto;
    }
    position: relative;

    .tiptap {
        &.ProseMirror-focused {
            /* Safari: Only outline the editor div, not toolbar etc. */
            outline: 3px solid AccentColor;
            outline-offset: 2px;
        }
        &.resize-cursor {
            /* Table resizable? */
            cursor: col-resize;
        }
        a[href] {
            cursor: pointer;
        }
        .fake-selection {
            background-color: Highlight;
        }
        table {
            th, td {
                position: relative;
            }
            .selectedCell {
                background: Highlight;
            }
            .column-resize-handle {
                top: 0;
                bottom: 0;
                right: -1px;
                width: 2px;
                position: absolute;
                background: AccentColor;
                box-shadow: 0 0 2px AccentColor;
            }
        }
        &.ProseMirror-focused {
            td, th {
                outline: Highlight solid 0.5px;
            }
        }
        & cms-plugin {
            pointer-events: auto;
            a {
                pointer-events: none;  /* for text-enabled link plugins */
            }
            &.ProseMirror-selectednode > * {
                outline: 2px solid #fad507;
                outline-offset: 2px;
            }
        }
    }
}
